doctype html
html(lang="en")
  head
    title= pageTitle
    link(href='main.css', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Roboto:100,300,400', rel='stylesheet', type='text/css')
    script(src="zepto.min.js")
  body
    div#top
      h1
        img.logo(src="http://lokijs.org/images/kaunaz.gif", width="20")
        &nbsp;Snaptun LokiJS Server
    div#menu
      ul#nav
        li
          a#createcoll(href="#") create collection 

    div#sidebar
      h2 Collections
      ul#collections

    div#main
      span main...
    script(src="snaptun.js")

    
