doctype html
html(lang="en")
  head
    title= pageTitle
    script(src="zepto.min.js")
  body
    img(src="http://lokijs.org/images/kaunaz.gif")
    h1 Snaptun LokiJS Server
    p#testing hi!
    script(src="snaptun.js")

    
